body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}

/* Navigation Bar */

.navbar {
  background: white;
}

.nav-link,
.navbar-brand {
  color: red;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: black;
}

.navbar-collapse {
  justify-content: flex-end;
}

/* Header */

.header {
  background-image: url('imgs/demo-photos/main-header.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}

.description h1 {
  color: red;
}

.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}

.description button {
  border: 1px solid black;
  background: red;
  border-radius: 0;
  color: #fff;
}

.description button:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #000;
}

/* About Section */

.about {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}

.about-title {
  color: red;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
}

.about img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.about .form-control,
.about input {
  border-radius: 0;
}

.about .btn {
  background-color: grey;
  border: 1px solid black;
  color: #fff;
  margin-top: 20px;
}

.about .btn:hover {
  background-color: #333;
  border: 1px solid #333;
}

/* Mision Section */

.mission {
  text-align: center;
}

/* Footer Section */

.footer-text {
  color: red;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}